body { margin-top: 50px; }
h1 {
	font-weight: 700;
}
.highlighted a {
	background-color: #fd5 !important;
}
.highlighted a:hover {
	color: #fff !important;
}
.spacetop {
	margin-top: 7px;
}
.bigspacetop {
	margin-top: 25px;
}
.nospacetop {
	margin-top: 0px;
}
#top-navbar {
	font-weight: bold;
	text-transform: uppercase;
}
.bgimg {
	background-repeat: none;
	font-size: 17px;
}
.bgimg .bginner {
	display: table-cell;
	vertical-align: bottom;
}
.bgcontainer {
	margin-bottom: 1em;
}
.bgimg a {
	/*color: #fff;
	text-decoration: underline;*/
}
.bgimg a:hover {
	text-decoration: none;
}
.bgimg-caption,
.bgimg-caption a {
	color: #ccc !important;
	text-align: right;
}
#top {
	background-size: cover;
	height: 700px;
	display: table;
	color: #fff;
	margin-bottom: 0;
}
.top-airbnb {
	background-image: url(images/top.bg.2.jpg);
}
.top-donostia {
	background-image: url(donostia/images/efecto-airbnb-donostia.png);
}
.top-donostia-1 {
	background-image: url(donostia-v1.0/images/top.bg.jpg);
}
.top-euskadi {
	background-image: url(euskadi/images/top.bg.jpg);
}
.top-summerlab17 {
	background-image: url(summerlab17/images/top.bg.2.jpg);
}
.top-pamplona {
	background-image: url(pamplona/images/airbnb-pamplona-cabecera.png);
}.intro figure {
	margin-bottom: 1em;
}
.vis-item {
	padding: 70px 0;
}
.vis-head h2,
.vis-head h3 {
	text-transform: uppercase;
	margin-top: 0;
}
.vis-box {
	background-color: #f5f5f5;
	padding: 5px 10px;
}
.vis-src a {
	font-weight: bold;
	color: #000;
}
.vis-btn {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	padding: 5px 10px;
	text-transform: uppercase;
	display: inline-block;
}
.vis-btn:hover {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}
.vis-legend {
	border-top: 1px solid #ccc;
	color: #888;
	padding-top: 7px;
	margin-top: 25px;
	clear: both;
}
.vis-featured {
	background-color: #fd5;
	padding: 5px 10px;
}
.vis-big {
	font-size: 1.3em;
	text-transform: uppercase;
}

.vis-gradient {
	padding: 5px;
	font-size: 1.2em;
	color: #fff;
}
.vis-gradient-1 {
	background-color: #6BAED6;
}
.vis-gradient-2 {
	background-color: #4292C6;
}
.vis-gradient-3 {
	background-color: #2171B5;
}
.vis-gradient-4 {
	background-color: #084594;
}
.vis-gradient-green-1 {
	background-color: #0D585F;
}
.vis-gradient-green-2 {
	background-color: #337F7F;
}
.vis-gradient-green-3 {
	background-color: #63A6A0;
}
.vis-gradient-green-4 {
	background-color: #9CCDC1;
}
.vis-gradient-green-5 {
	background-color: #E4F1E1;
}

figcaption {
	margin: 0 0 2em 0;
	font-size: 0.8em;
}

#bottom {
	background-color: #f5f5f5;
	padding-top: 1em;
	padding-bottom: 1em;
}

.user-card {
	margin-bottom: 10px;
	width: 100%;
	clear: both;
	float: left;
}
.user-card-img {
	float: left;
	width: 64px;
	height: auto;
}
.user-card-data {
	margin-left: 74px;
}
.user-card-data h4 {
	margin-top: 0;
}
